@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ruda&display=swap');

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: Ruda, sans-serif;
}

a, a:visited {
    color: inherit;
}

form > label {
    display: block;
}

h1 {
    font-family: Ruda, sans-serif;
    color: #3c4c6c;
    text-align: center;
    font-size: 4rem;
}

html {
    font-family: sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

input {
    display: block;
}

body {
    background-color: #b1c1cc;
}

nav {
    position: sticky;
    top: 0;
    background-color: #a5b2b0;
    z-index: 3;
}

nav > a {
    display: block;
    text-align: center;
}

p {
    font-family: 'Roboto Slab', sans-serif;
    margin: 0 0 16px 0;
    color: #752007;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
}

ul > li {
    text-align: center;
}

.formContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.inputPair {
    display: flex;
    flex-flow: column wrap;
    margin: 10px 0 10px 0;
}

#addCoin, #coinCollection {
    scroll-margin: 35px;
}