@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ruda&display=swap');

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: Ruda, sans-serif;
    color: #ffffff;
}

a, a:visited {
    color: #ffffff;
}

body {
    background-color: #f4f1eb;
}

form > label {
    display: block;
}

h1 {
    font-family: Ruda, sans-serif;
    color: #211c35;
    text-align: center;
    font-size: 4rem;
}

html {
    font-family: sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

input {
    display: block;
}

label {
    color: #696969;
}

nav {
    position: sticky;
    top: 0;
    background-color: #211c35;
    z-index: 3;
}

nav > a {
    display: block;
    text-align: center;
}

p {
    font-family: 'Roboto Slab', sans-serif;
    margin: 0 0 16px 0;
    color: #211c35;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
}

ul > div {
    width: 60vw;
    padding-left: 25%;
}

ul > div > li {
    color: #696969;
    list-style: none;
    justify-content: left;
}

.formContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.inputPair {
    display: flex;
    flex-flow: column wrap;
    margin: 10px 0 10px 0;
}

#addCoin, #coinCollection {
    scroll-margin: 35px;
}

#submitBtn {
    background-color: #726d7f;
    border-radius: 12px;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
